html, body {
  margin: 0;
  font-family: 'Sarabun', sans-serif; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #FBFAF9; }

h2 {
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #FBFAF9;
  position: relative; }
  h2:before {
    height: 1px;
    width: 38px;
    background-color: #b3aeaa;
    top: 15px;
    left: -65px;
    bottom: 0;
    position: absolute;
    margin: auto;
    margin-left: 15px;
    content: ''; }
  h2:after {
    height: 1px;
    width: 300px;
    background-color: #b3aeaa;
    top: 15px;
    bottom: 0;
    position: absolute;
    margin: auto;
    margin-left: 15px;
    content: ''; }
  h2.alt {
    margin-right: 50px;
    text-align: right; }
    h2.alt:after {
      height: 1px;
      width: 38px;
      background-color: #b3aeaa;
      top: 15px;
      right: -65px;
      bottom: 0;
      position: absolute;
      margin: auto;
      margin-left: 15px;
      content: ''; }
    h2.alt:before {
      height: 1px;
      width: 300px;
      background-color: #b3aeaa;
      top: 15px;
      left: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      margin-left: 15px;
      content: ''; }

h3 {
  font-size: 36px;
  line-height: 48px; }

p {
  font-size: 18px;
  color: #b3aeaa;
  margin-bottom: 10px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #192B3E; }
  header .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .intro img {
      height: 200px;
      position: relative;
      z-index: 10; }
    header .intro .hero-col1 {
      width: 60%; }
    header .intro .hero-col2 {
      position: relative;
      width: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      header .intro .hero-col2::after {
        position: absolute;
        z-index: 1;
        top: 0;
        background-image: url("../images/blob-intro.svg");
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        width: 500px;
        content: ''; }

.about {
  padding-top: 10px;
  padding-bottom: 10px; }

.projects {
  padding-top: 10px;
  padding-bottom: 10px; }

.main-projects {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-project {
  position: relative;
  margin-bottom: 200px;
  margin-left: auto; }
  .main-project a {
    text-decoration: none; }
  .main-project .details {
    position: relative;
    z-index: 10;
    max-width: 450px;
    background-color: #FBFAF9;
    padding: 30px; }
    .main-project .details .tech {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .main-project .details .tech p {
        font-size: 14px;
        margin-right: 8px;
        color: #D17155; }
  .main-project .title {
    font-size: 30px;
    color: #6CA6C1; }
    .main-project .title BOR
img {
      height: 20px;
      width: 20px; }
  .main-project .project-img {
    position: absolute;
    opacity: 0.7;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -500px;
    width: 600px;
    margin: auto; }
  .main-project.left {
    margin-left: 0;
    margin-bottom: 250px; }
    .main-project.left .project-img {
      position: absolute;
      opacity: 0.7;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 350px;
      width: 600px;
      margin: auto; }

.left-side .social {
  position: absolute;
  height: 100vh;
  left: -50px; }
  .left-side .social img {
    height: 30px; }
  .left-side .social:after {
    height: 300px;
    width: 1px;
    background-color: #FBFAF9;
    top: 15px;
    bottom: 0;
    position: absolute;
    margin: auto;
    margin-left: 15px;
    content: ''; }

.constraint {
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.max-500 {
  max-width: 500px; }

.max-650 {
  max-width: 650px; }

.gray-font {
  color: #b3aeaa; }

.pink-font {
  color: #CC756C; }

.charcoal-font {
  color: #222; }

.dark-blue-bg {
  background-color: #192B3E; }

.margin-bottom-60 {
  margin-bottom: 60px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.spacer {
  height: 100vh;
  background-color: #192B3E; }
